.loginWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.loginimageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    color: white;
    height: 100vh;
    background: rgba(0,0,0,0.7) url(images/crater.png)no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    width: 50%;
    padding: 2rem;
}

.loginBox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; 
    width: 90%;
    height: 90%;
    border-right: 1px solid white;
}


.loginwelcomeText{
    font-size: 2rem;
    width: 70%;
}

.loginContent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
    padding: 1rem;
    position: relative;
}

.loginContent video{
    width: 60%;
    height: 18rem;
}

.loginContent input{
    width: 60%;
    height: 2.5rem;
    padding: 0 0 0 1rem;
    border: none;
    border-radius: 5px;
    color: black;
    background: rgba(255, 255, 255, 0.781);
}

.loginContent img{
    width: 60%;
    height: 10rem;
}


.loginContent button{
    width: 60%;
    height: 4rem;
}

@media (max-width:768px) {
    .loginWrapper{
        flex-direction: column;
    }

    .loginwelcomeText{
        font-size: 1rem;
        width: 95%;
    }

    .loginimageWrapper{
        flex-wrap: wrap;
        height: 50vh;
        background: rgba(0,0,0,0.7) url(images/crater.png)no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        width: 100%;
        padding: none;
    }

    .loginContent{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        padding: 1rem;
        position: relative;
    }

    .loginBox{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column; 
        width: 100%;
        height: 90vh;
        border-right: 1px solid white;
    }

    .loginContent input{
        width: 90%;
        height: 2.5rem;
        padding: 0 0 0 1rem;
        border: none;
        border-radius: 5px;
        color: black;
        background: rgba(255, 255, 255, 0.781);
    }
    

    .loginContent video{
        width: 90%;
        height: 10rem;
    }
    
    .loginContent button{
        width: 90%;
    }
    
    
}

