*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: 0.5s;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(11, 11, 26);
  transition: 1s;
}

